body{
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1165px;
    height: 580px;
    top: -210px;
    left: 1570px;
    background-color: #121214;
    border-radius: 12px;
    margin-top: 120px;
    margin-bottom: 80px;
    margin-left: 120px;
  }

.logo{
    width: 229px;
    height: 68px;
    left: 517px;
    top: 42px;
    justify-content: center;
    align-content: center;
}

.pergunta{
    width: 355px;
    height: 42px;
    left: 464px;
    top: 183px;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 700px;
    height: 194px;
    left: 272px;
    top: 286px;
    justify-content: center;
    margin-top: 50px;
}

.perfil{
    width: 160px;
    height: 150px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    margin-right: 26px;
    border: 2px solid transparent;
    border-radius: 10px;
}

figure{
    width: 160px;
    height: 150px;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 10px;
}

figure:hover{
    border-color: #FFFFFF;
}
.perfil:hover img{
    transform: scale(1.2);
}

.perfil:hover > p{
    color:#FFFFFF;
}

p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    text-align: center;
    margin-top: 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
    font-family: 'IBM Plex Sans', sans-serif;
    justify-content: center;
    margin-left: 70px;
}

.adicionar {
    background: url("./plus-circle.png") no-repeat;
    background-position-x:center;
    background-position-y:center;
    width: 160px;
    height: 160px;
    border: solid 2px transparent;
    margin-bottom: 25px;
    background-color: #1E1E20;
    cursor: pointer;
    border-radius: 10px;
    line-height: 21px;
}

.adicionar:hover{
    background: url("./plus-circlewhite.png") no-repeat;
    background-color: #1E1E20;
    background-position-x:center;
    background-position-y:center;
    transform: scale(1);
    border: 1px solid white;
}

.addperfil{
    width: 103px;
}
button{
    background-color:black;
    color:white;
    margin-top: 42px;
    border: solid 2px #FFFFFF;
    width: 206px;
    height: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:500;
    cursor: pointer;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 60px;
}
button:hover{
    background-color: #FFFFFF;
    transition: 0,5s;
    opacity: 0,7;
    border: none;
    color: black;
    font-weight:500;
}